page-feedback {
    .backgroundColor {
        //background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
        background-color: rgb(59, 59, 59);
    }
    .fontColor{
        color:rgb(255, 255, 255);
    }
    .buttonColor{
        color:whitesmoke;
        background-color:#d66203;
    }
    .buttonColor:hover {
        background-color: #af5602 !important; 
        color: white;
    }
}
