<!--Navigation Bar-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Result</ion-title>
  </ion-navbar>
</ion-header>
<!--Home Body-->
<ion-content padding class="backgroundColor">
<ngx-datatable click='popUpModal()'
[sortType]="'multi'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="50"
[rows]="rows"
[columns]="columns"
[columnMode]="'force'"
[reorderable]="reorderable"
[limit]="10"
[selected]="selected"
[selectionType]="'single'"
(select)='onSelect($event)'>
</ngx-datatable>

<!--<div class='selected-column'>
  (activate)="onActivate($event)"
  <h4>Selections</h4>
  <ul>
    <li *ngFor='let sel of selected'>
      {{sel.carpark}}
    </li>
    <li *ngIf="!selected.length">No Selections</li>
  </ul>
</div>
</ion-content>-->
